@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.modal-finish {
    position: absolute;
    inset: 0;
    background-color: #CCBBFF;
    color: #59429d;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }

  .contador {
    background-color: rgb(222, 199, 240);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid;
    height: 5vh;
    width: 30vh;
    margin-left: 30vh;
    border-radius: 5px;
    padding: 1vh;
    border-style: double;
  }
  
  .modal-finish.open {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }

  .modal-finish.open > div {
    padding: 2%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 50vh;
    font-size: 2em;
  }

.medusa {
    height: 200px;
    width: 200px;
    position: fixed;
    right: 0;
    bottom: 0;
}

/*=================================================*/
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0F8FF;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
}

.cont-pergunta {
    background-color: #e3ddf6;
    box-shadow: inset 0 0 1em rgb(113, 60, 156);
    width: 85vh;
    height: 20vh;
    display: flex;
    border-radius: 100px 0 0 0;
    justify-content: center;
    align-items: center;
    border-style: double;
    margin-bottom: 5vh;
}

.numero {
    margin-right: 15px;
}

.conteudo {
    display: flex;
    border-radius: 10px;
    border-style: double;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 7em rgb(113, 60, 156);
    background-color: rgb(227, 214, 237);
}

.alternativas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5vh;
    padding-right: 5vh;
}

button {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    border-radius: 10px 0 10px 0;
    margin-bottom: 1em;
    padding: .5rem;
    margin-right: 5%;
    color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/* Elemento de classe "button" com o estado da pseudoclasse "hover" */
button:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
button {
    cursor: pointer;
}