/* Menu */
/*Refatorar | Refazer algumas coisas*/
:root {
    --nav-background: #6c6cb3;
    --nav-border: .5rem #2c2c54;
}

body {
    background-color: rgb(227, 213, 240);
}

nav {
    border: 2px solid var(--nav-border);
    background-color: var(--nav-background);
    border-radius: 5px;
    border-style: double;
    font-size: 1rem; /*'em' especifa para fontes | Tamanho relativo*/
    display: flex;
    justify-content: space-between; /*Coloca um no inicio e outro no fim | Coloca espaço entre os itens*/
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 10px; /*Defina o espaço entre as linhas e entre as colunas*/
    padding: 10px;
}

nav > ul > li:hover > ul {
    display: flexbox;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 5px;
    transition: .3s;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:active {
    color: rgb(53, 53, 160);
}

nav li a:visited {
    color: rgb(255, 255, 255);
}

nav > ul > li {
    position: relative;
}

nav > ul > li > ul {
    position: absolute;
    background-color: rgb(212, 192, 192);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    display: grid;
}

nav > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    grid-template-columns: repeat(1,1fr);
}
  
nav > ul > li:has(ul)::after {
    content: "◐";
}

nav > ul > li > ul a:visited {
    color: rgb(185, 56, 56);
}


.medusa {
    height: 5vw;
}


/*nav > ul >li {
    
    list-style: none;
    border: 2px solid rgb(120, 26, 167);
    border-style: outset;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

nav > ul > li > ul {
    display: none;
}

nav > ul > li:hover > ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li > ul a {
    text-decoration: aliceblue; /*Tirar sublinhado
    color: black;
    padding: 15px;
}*/

/* grid (estrutura em tabela) vs flex (as coisas se esticam) */

/*.test {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Tamanho que irá ocupar
    border: 2px solid rgb(124, 72, 124);
    padding: 10px;
    gap: 10px; /*Espaço entre as coisas
    margin-bottom: 10px;
}

.test > div {
    background-color: rgb(169, 115, 173);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* transition 

.test-transition > div {
    transition: .3s background;
}

.test-transition > div:hover {
    background-color: rgb(85, 172, 85);
}

/* animation 

@keyframes corzinhas {
    50% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(43, 226, 89);
    }
}

.test-animation div:hover {
    animation: corzinhas 3s linear infinite; /*ease | tempo de transição
}*/

/*nav :is(ul, li) { /*':is' para não repetir as mesmas coisas
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 5px;
    transition: .3s;
}

nav li:hover {
    background-color: rgba(255, 255, 255, .5);
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:active {
    color: blue;
}

nav li a:visited {
    color: rgb(255, 255, 255);
}

nav > ul > li {
    position: relative;
}

nav > ul > li > ul {
    position: absolute;
    background-color: rgb(212, 192, 192);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    display: grid;
}

nav > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    grid-template-columns: repeat(1,1fr);
}
  
nav > ul > li:has(ul)::after {
    content: "+";
}

nav > ul > li > ul a:visited {
    color: rgb(185, 56, 56);
}*/